useDynLib(cpop)
import(ggplot2)
import(crops)
import(pacman)
import(mathjaxr)
importFrom(methods,new)
importFrom(stats,rnorm)
export(cpop)
export(cpop.crops)
export(simchangeslope)
exportMethods(plot)
exportMethods(summary)
exportMethods(changepoints)
exportMethods(fitted)
exportMethods(cost)
exportMethods(estimate)
exportMethods(residuals)
exportMethods(cpop.crops.models)
importFrom(Rcpp, evalCpp)
importFrom(Rdpack,reprompt)
importFrom(pracma,pinv)
